SimpleCache/obj/Debug/netcoreapp2.0/SimpleCache.dll
SimpleCache/obj/Debug/netcoreapp2.0/SimpleCache.pdb
SimpleCache/obj/Debug/netcoreapp2.0/SimpleCache.AssemblyInfo.cs
SimpleCache/obj/Debug/netcoreapp2.0/SimpleCache.AssemblyInfoInputs.cache
SimpleCache/obj/Debug/netcoreapp2.0/SimpleCache.csproj.CoreCompileInputs.cache
SimpleCache/obj/Debug/netcoreapp2.0/SimpleCache.csproj.FileListAbsolute.txt
SimpleCache/bin/Debug/netcoreapp2.0/SimpleCache.dll
SimpleCache/bin/Debug/netcoreapp2.0/SimpleCache.pdb
SimpleCache/bin/Debug/netcoreapp2.0/SimpleCache.deps.json
SimpleCache/bin/Debug/netcoreapp2.0/SimpleCache.runtimeconfig.json
SimpleCache/bin/Debug/netcoreapp2.0/SimpleCache.runtimeconfig.dev.json
SimpleCache/obj/project.assets.json
SimpleCache/obj/SimpleCache.csproj.nuget.cache
SimpleCache/obj/SimpleCache.csproj.nuget.g.props
SimpleCache/obj/SimpleCache.csproj.nuget.g.targets
.vscode/tasks.json
.vscode/launch.json
RedisCache/bin/Debug/netcoreapp2.0/RedisCache.dll
RedisCache/bin/Debug/netcoreapp2.0/RedisCache.pdb
RedisCache/bin/Debug/netcoreapp2.0/RedisCache.deps.json
RedisCache/bin/Debug/netcoreapp2.0/RedisCache.runtimeconfig.json
RedisCache/bin/Debug/netcoreapp2.0/RedisCache.runtimeconfig.dev.json
RedisCache/obj/RedisCache.csproj.nuget.cache
RedisCache/obj/RedisCache.csproj.nuget.g.props
RedisCache/obj/RedisCache.csproj.nuget.g.targets
RedisCache/obj/project.assets.json
RedisCache/obj/Debug/netcoreapp2.0/RedisCache.dll
RedisCache/obj/Debug/netcoreapp2.0/RedisCache.pdb
RedisCache/obj/Debug/netcoreapp2.0/RedisCache.AssemblyInfo.cs
RedisCache/obj/Debug/netcoreapp2.0/RedisCache.AssemblyInfoInputs.cache
RedisCache/obj/Debug/netcoreapp2.0/RedisCache.csproj.CoreCompileInputs.cache
RedisCache/obj/Debug/netcoreapp2.0/RedisCache.csproj.FileListAbsolute.txt
RedisCache/obj/Debug/netcoreapp2.0/RedisCache.csprojAssemblyReference.cache
RedisSession/bin/Debug/netcoreapp2.0/RedisSession.dll
RedisSession/bin/Debug/netcoreapp2.0/RedisSession.pdb
RedisSession/bin/Debug/netcoreapp2.0/RedisSession.deps.json
RedisSession/bin/Debug/netcoreapp2.0/RedisSession.runtimeconfig.json
RedisSession/bin/Debug/netcoreapp2.0/RedisSession.runtimeconfig.dev.json
RedisSession/obj/RedisSession.csproj.nuget.cache
RedisSession/obj/RedisSession.csproj.nuget.g.props
RedisSession/obj/RedisSession.csproj.nuget.g.targets
RedisSession/obj/project.assets.json
RedisSession/obj/Debug/netcoreapp2.0/RedisSession.dll
RedisSession/obj/Debug/netcoreapp2.0/RedisSession.pdb
RedisSession/obj/Debug/netcoreapp2.0/RedisSession.AssemblyInfo.cs
RedisSession/obj/Debug/netcoreapp2.0/RedisSession.AssemblyInfoInputs.cache
RedisSession/obj/Debug/netcoreapp2.0/RedisSession.csproj.CoreCompileInputs.cache
RedisSession/obj/Debug/netcoreapp2.0/RedisSession.csproj.FileListAbsolute.txt
RedisSession/obj/Debug/netcoreapp2.0/RedisSession.csprojAssemblyReference.cache
SimpleCache/obj/Debug/netcoreapp2.0/SimpleCache.csprojAssemblyReference.cache
RedisCache/bin/Debug/netcoreapp2.2/RedisCache.deps.json
RedisCache/bin/Debug/netcoreapp2.2/RedisCache.dll
RedisCache/bin/Debug/netcoreapp2.2/RedisCache.pdb
RedisCache/bin/Debug/netcoreapp2.2/RedisCache.runtimeconfig.dev.json
RedisCache/bin/Debug/netcoreapp2.2/RedisCache.runtimeconfig.json
RedisCache/obj/Debug/netcoreapp2.0/RedisCache.assets.cache
RedisCache/obj/Debug/netcoreapp2.2/RedisCache.AssemblyInfo.cs
RedisCache/obj/Debug/netcoreapp2.2/RedisCache.AssemblyInfoInputs.cache
RedisCache/obj/Debug/netcoreapp2.2/RedisCache.assets.cache
RedisCache/obj/Debug/netcoreapp2.2/RedisCache.csproj.CoreCompileInputs.cache
RedisCache/obj/Debug/netcoreapp2.2/RedisCache.csproj.FileListAbsolute.txt
RedisCache/obj/Debug/netcoreapp2.2/RedisCache.csprojAssemblyReference.cache
RedisCache/obj/Debug/netcoreapp2.2/RedisCache.dll
RedisCache/obj/Debug/netcoreapp2.2/RedisCache.pdb
RedisCache/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RedisCache/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RedisCache/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RedisCache/obj/Release/netcoreapp2.0/RedisCache.AssemblyInfo.cs
RedisCache/obj/Release/netcoreapp2.0/RedisCache.AssemblyInfoInputs.cache
RedisCache/obj/Release/netcoreapp2.0/RedisCache.csproj.CoreCompileInputs.cache
RedisSession/bin/Debug/netcoreapp2.2/RedisSession.deps.json
RedisSession/bin/Debug/netcoreapp2.2/RedisSession.dll
RedisSession/bin/Debug/netcoreapp2.2/RedisSession.pdb
RedisSession/bin/Debug/netcoreapp2.2/RedisSession.runtimeconfig.dev.json
RedisSession/bin/Debug/netcoreapp2.2/RedisSession.runtimeconfig.json
RedisSession/obj/Debug/netcoreapp2.0/RedisSession.assets.cache
RedisSession/obj/Debug/netcoreapp2.2/RedisSession.AssemblyInfo.cs
RedisSession/obj/Debug/netcoreapp2.2/RedisSession.AssemblyInfoInputs.cache
RedisSession/obj/Debug/netcoreapp2.2/RedisSession.assets.cache
RedisSession/obj/Debug/netcoreapp2.2/RedisSession.csproj.CoreCompileInputs.cache
RedisSession/obj/Debug/netcoreapp2.2/RedisSession.csproj.FileListAbsolute.txt
RedisSession/obj/Debug/netcoreapp2.2/RedisSession.csprojAssemblyReference.cache
RedisSession/obj/Debug/netcoreapp2.2/RedisSession.dll
RedisSession/obj/Debug/netcoreapp2.2/RedisSession.pdb
RedisSession/obj/Debug/netcoreapp2.2/RedisSession.RazorAssemblyInfo.cache
RedisSession/obj/Debug/netcoreapp2.2/RedisSession.RazorAssemblyInfo.cs
RedisSession/obj/Debug/netcoreapp2.2/RedisSession.RazorTargetAssemblyInfo.cache
RedisSession/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RedisSession/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RedisSession/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RedisSession/obj/Release/netcoreapp2.0/RedisSession.AssemblyInfo.cs
RedisSession/obj/Release/netcoreapp2.0/RedisSession.AssemblyInfoInputs.cache
RedisSession/obj/Release/netcoreapp2.0/RedisSession.csproj.CoreCompileInputs.cache
SimpleCache/bin/Debug/netcoreapp2.2/SimpleCache.deps.json
SimpleCache/bin/Debug/netcoreapp2.2/SimpleCache.dll
SimpleCache/bin/Debug/netcoreapp2.2/SimpleCache.pdb
SimpleCache/bin/Debug/netcoreapp2.2/SimpleCache.runtimeconfig.dev.json
SimpleCache/bin/Debug/netcoreapp2.2/SimpleCache.runtimeconfig.json
SimpleCache/obj/Debug/netcoreapp2.2/SimpleCache.AssemblyInfo.cs
SimpleCache/obj/Debug/netcoreapp2.2/SimpleCache.AssemblyInfoInputs.cache
SimpleCache/obj/Debug/netcoreapp2.2/SimpleCache.assets.cache
SimpleCache/obj/Debug/netcoreapp2.2/SimpleCache.csproj.CoreCompileInputs.cache
SimpleCache/obj/Debug/netcoreapp2.2/SimpleCache.csproj.FileListAbsolute.txt
SimpleCache/obj/Debug/netcoreapp2.2/SimpleCache.csprojAssemblyReference.cache
SimpleCache/obj/Debug/netcoreapp2.2/SimpleCache.dll
SimpleCache/obj/Debug/netcoreapp2.2/SimpleCache.pdb
SimpleCache/obj/Debug/netcoreapp2.2/SimpleCache.RazorAssemblyInfo.cache
SimpleCache/obj/Debug/netcoreapp2.2/SimpleCache.RazorAssemblyInfo.cs
SimpleCache/obj/Debug/netcoreapp2.2/SimpleCache.RazorTargetAssemblyInfo.cache
SimpleCache/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SimpleCache/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SimpleCache/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SimpleCache/obj/Release/netcoreapp2.0/SimpleCache.AssemblyInfo.cs
SimpleCache/obj/Release/netcoreapp2.0/SimpleCache.AssemblyInfoInputs.cache
SimpleCache/obj/Release/netcoreapp2.0/SimpleCache.csproj.CoreCompileInputs.cache
